@charset "UTF-8";
/* reset.dev • v5.0.2 */
/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  /* Prevent adjustments of font size after orientation changes in iOS */
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

*,
::before,
::after {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements and pseudo elements */
  box-sizing: inherit;
}

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit;
}

* {
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0;
}

/* # =================================================================
   # General elements
   # ================================================================= */
hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */
  height: 0;
  /* Add the correct box sizing in Firefox */
  color: inherit;
  /* Correct border color in Firefox. */
}

details,
main {
  display: block;
  /* Render the `main` element consistently in IE. */
}

summary {
  display: list-item;
  /* Add the correct display in all browsers */
}

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */
}

[hidden] {
  display: none;
  /* Add the correct display in IE */
}

abbr[title] {
  border-bottom: none;
  /* Remove the bottom border in Chrome 57 */
  /* Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari */
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
}

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */
}

pre {
  font-size: 1em;
  /* Correct the odd `em` font sizing in all browsers */
}

b,
strong {
  font-weight: bolder;
  /* Add the correct font weight in Chrome, Edge, and Safari */
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  /* Correct border color in all Chrome, Edge, and Safari. */
  text-indent: 0;
  /* Remove text indentation in Chrome, Edge, and Safari */
}

iframe {
  border-style: none;
}

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
  /* Correct the cursor style of increment and decrement buttons in Chrome */
}

[type=search] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Remove the inner padding in Chrome and Safari on macOS */
}

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea */
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */
}

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule */
}

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */
}

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */
}

button,
[type=button],
[type=reset],
[type=submit],
[role=button] {
  cursor: pointer;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */
}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
}

a:focus,
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline-width: 0;
}

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */
}

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */
}

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */
}

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge 18- and IE */
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

/* # =================================================================
   # Accessibility
   # ================================================================= */
[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

*,
*:before,
*:after {
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  line-height: 1.6;
  scroll-behavior: smooth;
}

body {
  color: #333333;
  font-size: 1.6rem;
  min-width: 350px;
  width: 100%;
  overflow-x: hidden;
}

img,
video,
object {
  max-width: 100%;
  height: auto;
  border: none;
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.4s;
}
a:hover {
  text-decoration: none;
}

a:hover img {
  text-decoration: none;
  opacity: 0.8;
  transition: all 0.3s;
}

/* ===============================================
# メディアクエリ
=============================================== */
/* ===============================================
# color
=============================================== */
/* ===============================================
# font-family
=============================================== */
/* ===============================================
# メディアクエリ
=============================================== */
/* ===============================================
# color
=============================================== */
/* ===============================================
# font-family
=============================================== */
.l-header {
  width: 100%;
  height: 217px;
  background: #FFF7EF;
}

.l-footer {
  width: 375px;
  height: 150px;
  background: url(./../../img/footer.png);
  background-repeat: no-repeat;
  color: #FFFDFA;
  font-family: "M+ 1m";
  padding: 40px 0 30px;
}

.p-header {
  font-family: "Roboto";
  color: #707070;
  position: relative;
}
.p-header__title {
  font-size: 4rem;
  text-align: center;
  padding-top: 40px;
  font-weight: bold;
}
.p-header__nav {
  font-size: 2rem;
  font-weight: bold;
  position: absolute;
  top: 14px;
  right: 16px;
}

.p-search-form {
  width: 320px;
  margin: 38px 0;
  margin-left: 24px;
  position: relative;
}
.p-search-form::before {
  position: absolute;
  content: "";
  width: 24px;
  height: 24px;
  color: #707070;
  background-image: url(./../../../img/search.png);
  top: 11px;
  left: 16px;
}
.p-search-form__keyword {
  width: 230px;
  height: 46px;
  background: #fff;
  border: 1px solid #707070;
  border-radius: 10px;
}
.p-search-form__submit {
  text-align: right;
  padding: 12px 23px;
  background: linear-gradient(to bottom, #F2EDE9, #DED8D3);
  border-radius: 10px;
  line-height: 1.4;
  font-size: 1.6rem;
  font-weight: bold;
  color: #707070;
  font-family: "M+ 1m";
  border: 1px solid #707070;
}

.p-sidebar {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  right: -120%;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
}
.p-sidebar img {
  width: 32px;
  height: 32px;
  position: fixed;
  top: 25px;
  right: 17px;
  z-index: 1000;
}
@media (min-width: 1025px) {
  .p-sidebar img {
    display: none;
  }
}
.p-sidebar__title {
  display: none;
}
@media (min-width: 1025px) {
  .p-sidebar__title {
    display: block;
  }
}
.p-sidebar.slide {
  right: 0;
  opacity: 1;
  z-index: 998;
}
.p-sidebar__nav-content {
  position: fixed;
  top: 0;
  right: -120%;
  z-index: 999;
  width: 87vw;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #F2EDE9;
  transition: all 0.3s;
  padding-left: 46px;
  padding-top: 212px;
}
.p-sidebar__nav-content.slide {
  right: 0;
}
.p-sidebar__nav-content ul {
  list-style: none;
}
.p-sidebar__nav-content ul li {
  color: #707070;
  font-family: "M+ 1m";
  font-size: 20px;
  margin-bottom: 23px;
  margin-left: 20px;
}
.p-sidebar__nav-content ul li:last-child {
  margin-bottom: 43px;
}
.p-sidebar__nav-title {
  color: #707070;
  font-family: "M+ 1m";
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.p-mv {
  width: 100%;
  height: 285px;
  background: url(./../../../img/mainvisual-sp.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.p-mv__title {
  color: #FFFFFF;
  font-family: "M+ 1m";
  font-size: 36px;
  font-weight: bold;
  padding: 119px 0 0 25px;
}

.p-branch-menu {
  background: #FFFDFA;
  padding: 20px 20px 49px 20px;
}
.p-branch-menu__item {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.p-branch-menu__item-take-out {
  width: 100%;
  height: 642px;
  background: url(./../../../img/take-out.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.p-branch-menu__item-eat-in {
  width: 100%;
  height: 642px;
  background: url(./../../../img/eat-in.jpg);
  background-position: center;
  background-repeat: no-repeat;
}
.p-branch-menu__item-list {
  list-style: none;
  padding: 11px 15px 15px 15px;
}
.p-branch-menu__item-list h2 {
  font-size: 41px;
  font-family: "Roboto";
  font-weight: bold;
  color: #FFFDFA;
  line-height: 54px;
  position: relative;
}
.p-branch-menu__item-list h2::after {
  position: absolute;
  content: "";
  width: 34px;
  height: 4px;
  background: #FFFDFA;
  bottom: -15px;
  left: 0;
}
.p-branch-menu__item-list .take-out {
  color: #eaeaea;
}
.p-branch-menu__item-list dl {
  width: 305px;
  height: 124px;
  background: rgba(255, 253, 250, 0.8);
  font-family: "M+ 1m";
  color: #3C2A10;
  padding: 7px 10px 9px 10px;
}
.p-branch-menu__item-list dl dt {
  font-size: 22px;
  font-weight: bold;
}
.p-branch-menu__item-list dl dd {
  line-height: 23px;
}
.p-branch-menu__item-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 300px;
}

.p-access {
  width: 100%;
  height: 691px;
  padding: 40px 40px 50px 40px;
  position: relative;
}
.p-access__title {
  font-size: 30px;
  z-index: 2;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #FFFDFA;
  z-index: 2;
  line-height: 45px;
  margin-bottom: 40px;
  position: relative;
}
.p-access__title::after {
  content: "";
  width: 75px;
  height: 2px;
  background: #FFF;
  position: absolute;
  z-index: 2;
  top: 65px;
  left: 0;
}
.p-access__text {
  font-size: 14px;
  font-weight: bold;
  font-family: "M+ 1m";
  color: #FFFDFA;
  z-index: 2;
  line-height: 33px;
}
.p-access__map {
  position: absolute;
  width: 375px;
  height: 691px;
  background: url(./../../../img/access-map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
  z-index: -2;
}
.p-access__map::before {
  content: "";
  position: absolute;
  background: rgba(112, 112, 112, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: -1;
}
.p-access__map-glay {
  position: absolute;
  width: 100%;
  height: 415px;
  background: rgba(0, 0, 0, 0.29);
  top: 0;
  left: 0;
  display: block;
  z-index: -1;
}

.p-footer__menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  font-size: 20px;
}

.p-footer__copy {
  padding-top: 34px;
  text-align: center;
  font-size: 14px;
}

.p-hamburger {
  color: #707070;
}

/* ===============================================
# Foundation
=============================================== */
/* ===============================================
# Layout
=============================================== */
/* ===============================================
# Object
=============================================== */
/* ===============================================
# Object > Component
=============================================== */
/* ===============================================
# Object > Project
=============================================== */
/*# sourceMappingURL=style.css.map */