@use "./../../Foundation/variable" as *;

.p-access {
  width: 100%;
  min-height: 600px;
  padding: 40px 40px 50px 40px;
  background: url(./../../../img/access-map.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; 

  &::before {
    content: "";
    position: absolute;
    background: rgba($color: $color-gray, $alpha: 0.6);
    background-size: contain;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    

    @include mq("tab") {
      min-height: 415px;
    }
  }
  @include mq("tab") {
    min-height: 415px;
  }
  @include mq("pc") {
    padding: 80px 100px 40px;
  }

  &__title {
    font-size: 3rem;
    z-index: 2;
    font-weight: bold;
    font-family: $font-main;
    color: $bg-white;
    // z-index: 20;
    line-height: 45px;
    margin-bottom: 40px;
    position: relative;

    @include mq("pc") {
      margin-bottom: 55px;
    }

    &::after {
      content: "";
      width: 75px;
      height: 2px;
      background: #fff;
      position: absolute;
      z-index: 20;
      top: 65px;
      left: 0;
    }
  }
  &__text {
    font-size: 1.4rem;
    font-weight: bold;
    font-family: $font-main;
    color: $bg-white;
    z-index: 20;
    line-height: 33px;
    position: relative;

    @include mq("pc") {
      width: 45%;
      min-height: 356px;
      font-size: 1.6rem;
    }
  }
  
  &__map-glay {
    position: absolute;
    width: 100%;
    height: 415px;
    background: rgba($color: #000, $alpha: 0.29);
    top: 0;
    left: 0; 

    @include mq("pc") {
      height: 100%;
      width: 60%;
    }
  }
}
