@use "./../../Foundation/variable" as *;

.p-branch-menu {
  background: $bg-white;
  padding: 20px 20px 49px 20px;

  @include mq("tab") {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
  }

  @include mq("pc") {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    @include mq("tab") {
      gap: 40px;
      margin: 0 auto;
    }

    &-take-out {
      max-width: 625px;
      min-height: 642px;
      background: url(./../../../img/take-out-pc.jpg);
      background-position: center;
      background-repeat: no-repeat;

      @include mq("tab") {
        width: 40%;
      }
      @include mq("pc") {
        width: 40%;
      }
    }

    &-eat-in {
      max-width: 625px;
      min-height: 642px;
      background: url(./../../../img/eat-in-pc.jpg);
      background-position: center;
      background-repeat: no-repeat;

      @include mq("tab") {
        width: 40%;
      }
      @include mq("pc") {
        width: 40%;
      }
    }

    &-list {
      // width: inherit;
      list-style: none;
      padding: 11px 15px 15px 15px;

      h2 {
        font-size: 4.1rem;
        font-family: $font-primary;
        font-weight: bold;
        color: $bg-white;
        line-height: 54px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 34px;
          height: 4px;
          background: $bg-white;
          bottom: -15px;
          left: 0;
        }
      }
      .take-out {
        color: #eaeaea;
      }

      dl {
        width: inherit;
        min-height: 124px;
        height: auto;
        background: rgba($color: $bg-white, $alpha: 0.8);
        font-family: $font-main;
        color: $color-brown;
        padding: 7px 10px 9px 10px;

        dt {
          font-size: 2.2rem;
          font-weight: bold;
        }

        dd {
          line-height: 23px;
          // margin-bottom: 9px;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 15px;
      margin-top: 300px;
    }
  }
}
