@use "./../../Foundation/variable" as *;

.p-header {
  font-family: $font-primary;
  color: $color-gray;
  position: relative;

  &__title {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
    font-weight: bold;
    
    @include mq("pc") {
      line-height: 84px;
      font-size: 5rem;
      text-align: left;
      padding-top: 0;
      margin-left: 65px;
    }
  }

  &__nav {
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    top: 14px;
    right: 16px;

    @include mq("pc") {
      display: none;
    }
  }
}
