@use "./../../Foundation/variable" as *;

.p-single-top {
  width: 100%;
  height: 225px;
  background: url(./../../../img/single-top.jpg);
  background-position: center;
  background-repeat: no-repeat;

  &__title {
    color: $bg-white;
    font-family: $color-white;
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 54px;
    padding-top: 91px;
    padding-left: 26px;
  }
}